@font-face {
    font-family: "Yantramanav-Thin.ttf";
    src: url(/images/Yantramanav-Thin.ttf);
}

@font-face {
    font-family: "Yantramanav-Regular.ttf";
    src: url(/images/Yantramanav-Regular.ttf);
}

@font-face {
    font-family: "Yantramanav-Medium.ttf";
    src: url(/images/Yantramanav-Medium.ttf);
}

@font-face {
    font-family: "Yantramanav-Bold.ttf";
    src: url(/images/Yantramanav-Bold.ttf);
}

@font-face {
    font-family: "Yantramanav-Black.ttf";
    src: url(/images/Yantramanav-Black.ttf);
}

:root {
    --font1: 'Yantramanav-Black.ttf';
    --font2: 'Yantramanav-Bold.ttf';
    --font3: 'Yantramanav-Regular.ttf';
    --fontcolor: #252525;
    --bg: #FFFFF4;
    --color1: #CDEE2C;
    --color2: #FFF500;
    --color3: #FFD6C2;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: var(--fontcolor);
    background-color: var(--bg);
    overflow-x: hidden;
}

.main {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 5vw;
    justify-content: space-between;
    border-bottom: 0.1rem solid #252525;
    /* box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1); */
}

.navbar #Logo {
    font-family: var(--font1);
    font-size: 2.8rem;
    font-weight: 900;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 2.5vw;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.nav-btn p {
    font-family: var(--font3);
    font-size: 1rem;
    font-weight: 400;
}

.nav-btn .border {
    display: flex;
    float: left;
    gap: 2.5vw;
}

.nav-btn .border p {
    border: 2px solid transparent;
    padding: 0.2rem 0.9rem;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.nav-btn .border p:hover {
    border: 2px solid #252525;
    border-radius: 10px;
    padding: 4px 16px;
    transform: scale(0.95);
}

.login-button {
    z-index: 2;
    font-family: var(--font3);
    font-size: 1rem;
    font-weight: 400;
    border: 2px solid #252525;
    box-shadow: 2px 2px 0px 0px #252525F2;
    padding: 4px 24px;
    border-radius: 10px;
    background-color: var(--color1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
    font-family: var(--font3);
    color: var(--fontcolor);
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #252525;
    box-shadow: none;
    transform: scale(0.95);
    padding: 4px 24px;
    border-radius: 10px;
}

.User {
    display: flex;
    float: left;
    align-items: center;
    gap: 7px;
}

.nav-btn p i {
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-bottom: 2px;
}

.hero {
    margin-top: 3vh;
    position: relative;
}

.hero-content h1 {
    font-family: var(--font2);
    font-size: 4.3vw;
    line-height: 1.2;
    padding-top: 2.5vh;
    max-width: 40vw;
    position: relative;
}

h1 span {
    font-size: 6vw !important;
    background-image: url("/images/BackHighlight.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.2em 0.5em;
    display: inline-block;
}


.hero-sec {
    display: flex;
    float: left;
    margin-left: 5vw;
    gap: 5.5vw;
}

.hero-content h1 span {
    position: relative;
    font-family: var(--font2);
    font-size: 62px;
    color: #FFF500;
    width: 40vw;
    line-height: 4.5vw;
    z-index: 1;
}

.hero-content p {
    position: relative;
    font-family: var(--font3);
    font-size: 1.5vw;
    font-weight: 600;
    padding-top: 2vh;
    max-width: 39vw;
    z-index: 1;
    border: 2px solid #252525;
    box-shadow: 2px 2px 0px 0px #252525F2;
    padding: 4px 24px;
    border-radius: 10px;
    background-color: #CDEE2C;
}

.hero-ill {
    width: 40vw;
    height: 20vh;
}

.upload-section {
    display: flex;
    float: left;
    margin: 5vh 5vw;
    gap: 8vw;
}

.upload {
    width: 40vw;
    height: 35vh;
    background-color: #FFD6C233;
    border: 3px solid #252525;
    box-shadow: 2px 2px 0px 0px #252525;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 24px 124px;
}

#PDF {
    background-color: #FFF50033;
}

.upload-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 900;
    text-align: center;
    width: 20rem;
}

.upload-btn {
    margin-top: 2vh;
    font-family: var(--font3);
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 16px 4px 16px;
    border-radius: 5px;
    border: 2px solid #252525;
    background-color: var(--color3);
    width: 8.5rem;
}

#PDF .upload-btn {
    background-color: var(--color2);
}

.upload span {
    font-family: var(--font3);
    font-weight: 600;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.upload .search {
    border: 1px solid #252525;
    width: 20rem;
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload .search input {
    border-left: 1px solid#252525;
    background-color: #FFF7EA;
    border-top: none;
    border-right: 1px solid#252525;
    border-bottom: none;
    width: 14.5rem;
    height: 32px;
    color: var(--fontcolor);
    font-family: var(--font3);
    font-size: 0.8rem;
    text-align: center;
}

.search button {
    font-size: 0.85rem;
    border: none;
    color: #252525;
    background-color: transparent;
}

.upload .search i {
    padding: 9px 6px;
    font-size: 0.8rem;
}

#PDF .search input {
    background-color: #FFFDCF;
}

.page-2 {
    width: 100%;
    height: 100%;
}

.notes-heading {
    display: flex;
    float: left;
    gap: 2vw;
    margin: 1vh 5vw;
    align-items: center;
    justify-content: center;
}

.notes-heading h4 {
    font-family: var(--font3);
    text-wrap: nowrap;
    font-size: 1.4rem;
    font-weight: 600;
    border: 2px solid #252525;
    box-shadow: 2px 2px 0px 0px #252525F2;
    padding: 4px 4px;
    border-radius: 2px;
    background-color: var(--color1);
}

.notes-heading p {
    font-family: var(--font3);
    font-size: 16px;
    width: 75vw;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
    padding: 3vh 5vw;
}

.box {
    width: calc((100% - 10vw) / 3);
    height: 30vh;
    border-radius: 5px;
    background-color: var(--bg);
    border: 3px solid #252525;
    box-shadow: 2px 2px 0px 0px #252525;
    padding: 2vh 1vw;
}

.box img {
    width: 2em;
    height: 2em;
}

.box i {
    font-size: 2rem;
}

.box h1 {
    margin: 2vh 0;
    font-size: 1.8vw;
    text-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-bottom: 2px solid#252525;
}

.box p {
    font-size: 0.8rem;
    text-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.box:nth-child(even) {
    background-color: var(--color1);
}

/* footer {
    margin-top: 5vh;
    width: 100%;
    height: 30vh;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.media {
    display: flex;
    float: left;
    margin-top: 8vh;
    gap: 1.5vw;
}

.insta {
    width: 24px;
    height: 24px;
    background-color: var(--bg);
    border: var(--bg);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    width: 24px;
    height: 24px;
    background-color: var(--bg);
    border: var(--bg);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin {
    width: 24px;
    height: 24px;
    background-color: var(--bg);
    border: var(--bg);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    /* margin-left: 4vw; */
    gap: 2vw;
}

.menu p {
    font-family: var(--font3);
    color: var(--bg);
    font-size: 1rem;
    font-weight: 400;
}

footer {
    position: relative;
    margin-top: 5vh;
    width: 100%;
    height: 30vh;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;

    .border {
        width: 80vw;
        height: 10px;
        border-bottom: 2px solid#FFFFF4;
        margin-top: 1.5vh;
    }

    .contact-button {
        position: absolute;
        bottom: 8vh;
        right: 10vw;
        font-family: var(--font3);
        font-size: 1.1rem;
        font-weight: 400;
        border: 2px solid #252525;
        /* box-shadow: 2px 2px 0px 0px; */
        padding: 4px 16px;
        border-radius: 20px;
        background-color: var(--color1);
        transition: box-shadow 0.3s ease, transform 0.2s ease;
    }

    .contact-button:hover {
        font-family: var(--font3);
        color: var(--fontcolor);
        font-size: 18px;
        font-weight: 400;
        border: 2px solid #252525;
        box-shadow: none;
        transform: scale(0.95);
        padding: 4px 16px;
        border-radius: 20px;
    }
}

body::-webkit-scrollbar {
    display: none;
}